PORT = 8000
MONGODB_URI = mongodb+srv://ruturajraut2000:ruturaj123@cluster0.e0j66ri.mongodb.net
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET =use_your_access_token_secret_here
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_SECRET =use_your_refresh_token_secret_here
REFRESH_TOKEN_EXPIRY = 10d


CLOUDINARY_CLOUD_NAME=dtrocahns
CLOUDINARY_API_KEY=your_real_api_key_here
CLOUDINARY_API_SECRET=your_real_api_secret_here